@font-face {
  font-family: "PTSans";
  src: url("assets/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("assets/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.main-picture-header {
  display: flex;
  background: url(img/header.jpg) center -60px no-repeat;
  height: 680px;
  background-size: cover;
  opacity: 0.8;
  position: relative;
  filter: contrast(110%);
}

.header-text {
  position: absolute;
  text-align: center;
  color: white;
  top: 27%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.top-part-main-text {
  font-family: PTSerif;
  font-size: 80px;
  margin: 0px;
  letter-spacing: 4px;
}
.down-part-main-text {
  font-family: PTSans;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
  letter-spacing: 3px;
}
.intro {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text {
  font-family: PTSans;
  color: black;
  text-align: center;
  margin: 0px;
  font-size: 24px;
  letter-spacing: 1px;
}

.grid-container {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.box-1 {
  grid-area: num1;
}
.box-2 {
  grid-area: text1;
}
.box-3 {
  grid-area: img1;
  background: url(img/step-1.jpg) center center no-repeat;
  background-size: cover;
}
.box-4 {
  grid-area: img2;
  background: url(img/step-2.jpg) -450px center no-repeat;
  background-size: cover;
}
.box-5 {
  grid-area: num2;
}
.box-6 {
  grid-area: text2;
}
.box-7 {
  grid-area: num3;
}
.box-8 {
  grid-area: text3;
}
.box-9 {
  grid-area: img3;
  background: url(img/step-3-4.jpg) -850px center no-repeat;
  background-size: cover;
}
.box-10 {
  grid-area: text4;
}
.box-11 {
  grid-area: num4;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr 40%;
  grid-template-rows: 490px 600px 600px 380px;
  grid-template-areas:
    "num1 text1 img1"
    "img2 num2 text2"
    "num3 text3 img3"
    "text4 num4 img3";
  grid-gap: 40px;
}

.num-style {
  background-color: #86ddf3;
  color: white;
  font-family: PTSerif;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-style {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-header-style {
  color: black;
  font-family: PTSerif;
  margin: 0px;
  padding-top: 20px;
}
.text-body-style {
  font-size: 28px;
  line-height: 150%;
  font-family: PTSans;
  font-weight: normal;
  max-width: 400px;
  align-self: center;
}
.second-grid-container {
  max-width: 1350px;
  margin: 0 0 50px 50px;
  position: relative;
}

.box-12 {
  grid-area: text5;
}
.box-13 {
  grid-area: img4;
  background: url(img/footer_scale.png) center center no-repeat;
  background-size: cover;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1000px;
  grid-template-areas: "text5 img4";
  grid-gap: 40px;
}

.text-style-2 {
  background-color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.text-header-style-2 {
  color: black;
  font-family: PTSerif;
  margin: 0px;
  padding-top: 30px;
  font-size: 90px;
}
.text-body-style-2 {
  font-size: 28px;
  line-height: 150%;
  font-family: PTSans;
  font-weight: normal;
  max-width: 500px;
}
.zemeckis {
  font-family: PTSans;
  font-weight: bold;
  font-size: 0px;
  position: absolute;
  top: 91%;
  transform: translate(-50%, -50%);
  left: 48%;
}
.zemeckis .letter {
  display: inline-block;
  font-size: 120px;
}
.zemeckis-mobile {
  display: none;
}

@media only screen and (max-width: 1130px) and (min-width: 950px) {
  .main-picture-header {
    background: url(img/header.jpg) center center no-repeat;
    background-size: cover;
  }
  .text-header-style-2 {
    font-size: 70px;
  }
  .text-header-style {
    font-size: 28px;
  }
  .text-body-style {
    font-size: 20px;
    line-height: 130%;
    max-width: 300px;
  }
  .top-part-main-text {
    font-size: 50px;
  }
  .down-part-main-text {
    font-size: 20px;
  }
  .grid-2 {
    grid-template-rows: 850px;
  }
  .zemeckis {
    top: 90%;
  }
  .zemeckis .letter {
    font-size: 90px;
  }
  .zemeckis-mobile {
    display: none;
  }
}
@media only screen and (max-width: 949px) and (min-width: 690px) {
  .main-picture-header {
    background: url(img/header.jpg) center center no-repeat;
    background-size: cover;
  }
  .top-part-main-text {
    font-size: 28px;
  }
  .down-part-main-text {
    font-size: 10px;
  }
  .header-text {
    top: 35%;
  }
  .intro-text {
    font-size: 18px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 490px 375px 300px 260px 225px 325px 215px 135px 363px;
    grid-template-areas:
      "num1 text1"
      "img1 num2"
      "text2 num2"
      "text2 img2"
      "num3 img2"
      "num3 text3"
      "img3 text3"
      "img3 num4"
      "text4 num4";
    grid-gap: 40px;
  }
  .box-9 {
    background: url(img/step-3-4.jpg) center center no-repeat;
    background-size: cover;
  }
  .box-4 {
    background: url(img/step-2.jpg) -350px center no-repeat;
    background-size: cover;
  }

  .text-body-style {
    font-size: 22px;
    max-width: 300px;
    align-self: center;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 660px 660px;
    grid-template-areas:
      "text5 "
      "img4";
    grid-row-gap: 60px;
  }
  .second-grid-container {
    margin: 0 0 20px 0px;
    padding: 0px 15px;
  }
  .grid-container {
    margin-bottom: 50px;
    padding: 0px 15px;
  }
  .text-header-style-2 {
    color: black;
    font-family: PTSerif;
    margin: 0px;
    padding-top: 0px;
    font-size: 60px;
  }
  .text-body-style-2 {
    line-height: 130%;
    max-width: 700px;
  }
  .zemeckis {
    display: none;
  }
  .zemeckis-mobile {
    display: block;
    font-family: PTSans;
    font-weight: bold;
    font-size: 0px;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 48%;
  }
  .zemeckis-mobile .letter {
    font-size: 70px;
  }
}
@media only screen and (max-width: 689px) and (min-width: 400px) {
  .top-part-main-text {
    font-size: 20px;
  }
  .down-part-main-text {
    font-size: 10px;
  }
  .main-picture-header {
    background: url(img/header.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
  }
  .intro-text {
    font-size: 14px;
  }
  .text-body-style {
    font-size: 14px;
  }
  .text-header-style {
    font-size: 22px;
  }
  .box-9 {
    background: url(img/step-3-4.jpg) center center no-repeat;
    background-size: cover;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 490px 375px 300px 260px 225px 325px 215px 135px 363px;
    grid-template-areas:
      "num1  text1"
      "img1 num2 "
      "text2 num2"
      "text2 img2"
      "num3 img2"
      "num3 text3"
      "img3 text3"
      "img3 num4"
      "text4 num4";
    grid-gap: 40px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 660px 660px;
    grid-template-areas:
      "text5 "
      "img4";
  }
  .second-grid-container {
    margin: 0 0 20px 0px;
    padding: 0px 15px;
  }
  .grid-container {
    margin-bottom: 50px;
    padding: 0px 15px;
  }
  .text-header-style-2 {
    color: black;
    font-family: PTSerif;
    margin: 0px;
    padding-top: 0px;
    font-size: 40px;
  }
  .text-body-style-2 {
    line-height: 130%;
    max-width: 700px;
    font-size: 20px;
  }
  .zemeckis {
    display: none;
  }
  .zemeckis-mobile {
    display: block;
    font-family: PTSans;
    font-weight: bold;
    font-size: 0px;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 48%;
  }
  .zemeckis-mobile .letter {
    font-size: 40px;
  }
}

@media only screen and (max-width: 399px) {
  .main-picture-header {
    background: url(img/header.jpg) center center no-repeat;
    background-size: cover;
    height: 500px;
  }
  .top-part-main-text {
    font-size: 20px;
  }
  .down-part-main-text {
    font-size: 14px;
  }
  .intro-text {
    font-size: 14px;
  }
  .grid-container {
    padding: 0px 10px;
    margin-bottom: 50px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px 350px;
    grid-template-areas:
      "num1 "
      "text1"
      "img1"
      "img2"
      "num2"
      "text2 "
      "num3"
      "text3"
      "img3"
      "text4"
      "num4";
    grid-gap: 20px;
  }
  .text-body-style {
    font-size: 18px;
    max-width: 300px;
  }
  .box-4 {
    background: url(img/step-2.jpg) center center no-repeat;
    background-size: cover;
  }
  .box-9 {
    background: url(img/step-3-4.jpg) center center no-repeat;
    background-size: cover;
  }
  .second-grid-container {
    max-width: 1350px;
    margin: 0 0 50px 0px;
    position: relative;
    padding: 0px 10px;
  }
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px;
    grid-template-areas:
      "text5 "
      "img4";
  }
  .text-header-style-2 {
    padding-top: 0px;
    font-size: 50px;
  }
  .text-body-style-2 {
    font-size: 16px;
  }
  .zemeckis {
    display: none;
  }
  .zemeckis-mobile {
    display: block;
    font-family: PTSans;
    font-weight: bold;
    font-size: 0px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 48%;
  }
  .zemeckis-mobile .letter {
    display: inline-block;
    font-size: 28px;
  }
}
